# MongoDB Configuration
MONGO_URL="mongodb://localhost:27017"
DB_NAME="tradalife"

# CORS Configuration
CORS_ORIGINS="*"

# JWT Secret Key - CHANGE THIS IN PRODUCTION
JWT_SECRET_KEY=your-secret-key-here

# Stripe Configuration
STRIPE_SECRET_KEY=sk_live_your_stripe_secret_key_here

# PayPal Configuration (Optional)
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret

# Gmail Configuration for Email Notifications
GMAIL_EMAIL=your-email@gmail.com
GMAIL_APP_PASSWORD=your-gmail-app-password
